.yellow{
  color: yellow;
}

.movies {
  margin-bottom: 20px;
}
img {
  height:20px;
  vertical-align: middle;
}
li {
  list-style: none;
  line-height: 20px;
}

.title span {
  font-weight: bold;
}
